<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <form action="/login" method="POST">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="amount" placeholder="Số lượng" value="" />
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <!-- <button class="button is-primary">
                                Mua
							</button> -->
                            <a href="/trades/buy" class="button is-primary">Mua</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
