<section class="hero">
    <div class="hero-body">
        <div class="columns is-mobile">
            <div class="column"></div>
            <div class="column">
                <div class="notification">
					<p>
						<h2 class="subtitle">Gi치 b치n:</h2>
						<h1 class="title">1 USDT</h1>
					</p>
                    <a href="/coin/buy" class="button is-primary">Mua</a>
                </div>
            </div>
            <div class="column">
                <div class="notification">
					<p>
						<h2 class="subtitle">Gi치 mua:</h2>
						<h1 class="title">1 USDT</h1>
					</p>
					<a href="/coin/sell" class="button is-danger">B치n</a>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>
