<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <% if (message.length > 0) { %>
                <div class="notification is-danger">
                    <%= message %>
                </div>
                <% } %>
                <form action="/pots/create" method="POST">
                    <div class="field">
                        <div class="control">
                            <input class="input is-success" type="text" name="tx_hash" placeholder="Tx hash" value="" />
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-success">
                                Submit
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
