<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <h1 class="title">Proofs of Transaction</h1>
                    <a class="button is-primary" href="/pots/new">Create New Proof</a>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Tx Hash</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var pot of pots) { %>
                            <tr>
                                <td><%= pot.tx_hash %></td>
                                <td><%= pot.createdAt %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container"></div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
