<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-half">
                    <h1 class="title">Balances</h1>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Asset</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>USDT</td>
                                <td>23324</td>
                            </tr>
                            <tr>
                                <td>X</td>
                                <td>3333</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container"></div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
