<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1>Balances</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container"></div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container"></div>
    </div>
</section>
