<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-two-thirds">
                <article class="message">
                    <div class="message-header">
                        <p>Lịch sử giao dịch</p>
                    </div>
                    <div class="message-body">
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <tbody>
                                <tr>
                                    <td>10/06/2019 23:16:01</td>
                                    <td><button class="button is-small is-primary">Mua</button></td>
                                    <td>100 XCoin</td>
                                </tr>
                                <tr>
                                    <td>10/06/2019 23:20:24</td>
                                    <td><button class="button is-small is-primary">Mua</button></td>
                                    <td>350 XCoin</td>
                                </tr>
                                <tr>
                                    <td>10/06/2019 23:40:15</td>
                                    <td><button class="button is-small is-danger">Bán</button></td>
                                    <td>200 XCoin</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
