<section class="section">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-two-thirds">
                <article class="message">
                    <div class="message-header">
                        <p>Thông tin giao dịch</p>
                    </div>
                    <div class="message-body">
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <tbody>
                                <tr>
                                    <td>Mã giao dịch: #<%= trade.id %></td>
                                </tr>
                                <tr>
                                    <td><button class="button is-small is-success"><%= trade.status %></button></td>
                                </tr>
                                <tr>
                                    <td>
                                        USDT đã dc gửi vào địa chỉ
                                        <a class="button is-small is-info" href="https://omniexplorer.info/tx/5ed3694e8a4fa8d3ec5c75eb6789492c69e65511522b220e94ab51da2b6dd53f"
                                            >1JcN6bBhr2AeNDQKSHTAKXGgupLRkwBB7R</a
                                        >
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bạn đã nhận được <a class="button is-small is-info" href="/profile">1 XCoin</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
