<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>XCoin App</title>
        <!-- css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <script src="https://bulma.io/vendor/clipboard-1.7.1.min.js"></script>
        <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
        <script src="https://bulma.io/lib/main.js?v=201905280941"></script>
    </head>
    <body>
        <!-- header -->
        <header id="site-header">
            <nav class="navbar is-link" role="navigation" aria-label="main navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <h1 style="font-size: 32px; font-weight: 600">XCoin</h1>
                        </a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <% if (currentUser) { %>
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" href="/profile">
                                    <%= currentUser.username %>
                                </a>
                                <div id="moreDropdown" class="navbar-dropdown">
                                    <a class="navbar-item" href="/profile">
                                        <span class="icon"> <i class="fas fa-wallet"></i></span>
                                        &nbsp; Số dư
                                    </a>
                                    <a class="navbar-item" href="/coin">
                                        <span class="icon"> <i class="fas fa-file-contract"></i></span>
                                        &nbsp; Mua bán XCoin
                                    </a>
                                    <a class="navbar-item" href="/transactions">
                                        <span class="icon"> <i class="fas fa-file-contract"></i></span>
                                        &nbsp; Lịch sử giao dịch
                                    </a>
                                    <a class="navbar-item" href="/logout">
                                        <span class="icon"> <i class="fas fa-sign-out-alt"></i></span>
                                        &nbsp; Đăng xuất
                                    </a>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- main -->
        <main id="site-main">
            <div class="container">
                <%- body %>
            </div>
        </main>

        <!-- footer -->
        <footer id="site-footer">
            <div class="container">
                <div class="columns is-mobile is-centered">
                    <div class="column is-half has-text-centered">Copyright &copy; 2019 XCoin</div>
                </div>
            </div>
        </footer>
    </body>
</html>
